$DarkCyan: hsl(185, 75%, 39%);
$DesaturatedBlue: hsl(229, 23%, 23%);
$GrayishBlue:hsl(227, 10%, 46%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    position: relative;
    font-size: 1.6rem;
    background-color: $DarkCyan;

}

.bg-pattern-top {
    position: absolute;
    top: -200%;
    left: -10%;
    // transform: translateX(-50%,-50%);
}

.bg-pattern-bottom {
    position: absolute;
    right: -10%;
    top: 300%;
}